# Please refrain from including any sensitive secrets in the server base. It should exclusively contain plaintext information that is common to your application across all environments. All sensitive information and secrets should be stored in the serveroverride within the SSM Parameter store.

[General]
ENVIRONMENT="local"
LOG_LEVEL="DEBUG"
API_URL="PUT_URL_HERE"

[LLM_CONFIG]
LLM_API_KEY="PUT_OPEN_AI_KEY"
LLM_MODEL="gpt-5-mini"
EMBEDDING_MODEL="text-embedding-3-small"

[DB]
POSTGRES_DB_SCHEMA =
POSTGRES_DB = rag_db
POSTGRES_USER = hello_fastapi
POSTGRES_PASSWORD = hello_fastapi
POSTGRES_SERVER = db_test_rag
POSTGRES_PORT = 5432

[HONEYCOMB]
HONEYCOMB_API_KEY = "fake"
OTEL_SAMPLE_RATE = 1
OTEL_SERVICE_NAME = rag_service_local
OTEL_PYTHON_EXCLUDED_URLS = "/infra/health/check,infra/health/check,check"
EXPORTER_PROTOCOL = "http/protobuf"
TRACES_ENDPOINT = "https://api.honeycomb.io/v1/traces"
METRICS_ENDPOINT = "https://api.honeycomb.io/v1/metrics"
HONEYCOMB_SECRET_KEY_ARN = "AWS_SECRET_KEY"

[VECTOR_DB]
CHUNK_SIZE = 500
CHUNK_OVERLAP = 100
TOP_K = 4
CHROMA_PATH= "./chroma"
COLLECTION_NAME = "documents"

[LANGSMITH]
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your_key>
LANGSMITH_PROJECT=<name_of_your_project>
